*
{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
   
}

.container
{
    
    background: linear-gradient(135deg, #26006c, #ff7171, #9e0000);
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  
}

.To-Do-List
{
    position: relative;
    display: flex;
    top: 100px;
    
    justify-content: center;
    align-items: center;
}

.To-Do-List input
{
    width: 600px;
    height: 30px;
    padding: 30px;
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid skyblue;
}

.To-Do-List input::placeholder
{
   color: rgb(72, 255, 0);
}

.To-Do-List input:focus 
{
    outline: none;       
    border: 2px solid #ccc; 
    box-shadow: none;    
}

.To-Do-List button
{
    align-items: center;
    height: 30px;
    padding: 10px 40px 50px 40px ;
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid skyblue;
    line-height:15px ;

    strong
    {
        font-size: xx-large;
    }
}


.To-Do-List button:active
{
   background-color: #acecf6;
}
.To-Do-List button:focus
{
    outline: none;
    border:  2px solid #ccc;
}

.container2
{
    position: relative;
    line-height: 30px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    top: 150px;
    right: 270px;

}


.container2 li
{
   height: auto;
   width: 100%;
   border: 2px solid rgb(0, 255, 4);
   border-radius: 10%;
}

.Dlbutton
{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.Dlbutton:hover
{
    background-color: #09ff00;
    color: rgb(0, 0, 0);
}

.Devname
{
    position: fixed;
    bottom: 40px;
    right: 40px;
}